<div class="col-md-12 p-2">
    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Tenders" asp-action="Create" title=" Create New Tender"><i class="fa fa-plus"></i><span class="d-none d-sm-inline-block ml-2">Add New Tender</span></a>
    </div>
</div>

