<div class="col-md-12 p-2">
    <div class="form-group">
        <a class="btn btn-success" asp-controller="Tenders" asp-action="Create" title=" Create New Tender"><i class="fa fa-plus"></i><span class="d-none d-sm-inline-block ml-2">Add New Tender</span></a>
        <button class="btn btn-dark" id="btnDeleteTender" title=" Delete Selected Tender"><i class="fa fa-trash"></i><span class="d-none d-sm-inline-block ml-2">Delete Selected Tender</span></button>
        <a class="btn btn-primary" asp-controller="UserInfo" asp-action="Index"><i class="fa fa-users"></i><span class="d-none d-sm-inline-block ml-2">Go To User List</span></a>
        <a class="btn btn-primary" asp-controller="Services" asp-action="Index"><i class="fa fa-concierge-bell"></i><span class="d-none d-sm-inline-block ml-2">Add/Edit Service</span></a>
        <a class="btn btn-primary" asp-controller="Departments" asp-action="Index"><i class="fa fa-layer-group"></i><span class="d-none d-sm-inline-block ml-2">Add/Edit Dept.</span></a>
        <a class="btn btn-primary" asp-controller="Divisions" asp-action="Index"><i class="fa fa-divide"></i><span class="d-none d-sm-inline-block ml-2">Add/Edit Division</span></a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="OtherTools"><i class="fa fa-tools"></i><span class="d-none d-sm-inline-block ml-2">Other Tools</span></a>
    </div>
</div>