<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ETender E-Tender eTender Tender Bihar eTenderBihar E-TenderBihar ETenderBihar online tendering service">
    <meta name="description" content="Personalized Tendering Serice for Bihar">
    <title>@ViewData["Title"]</title>
    <partial name="_environments.cshtml" />
    <style>
        /*.navbar {
            min-height: 80px;
        }

        .navbar-brand {
            padding: 0 15px;
            height: 100px;
            line-height: 100px;
        }*/
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <partial name="_LogoPartialView.cshtml" />
                @*<a class="navbar-brand font-weight-bolder" style="font-size:28px;" asp-area="" asp-controller="Tenders" asp-action="Index">eTenders</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_ExtraMenu.cshtml" />
                    </ul>
                    
                    <div class="d-flex">
                        <partial name="_ContactDetails2.cshtml" />
                        <a class="btn btn-primary mr-1 p-2" asp-area="" asp-controller="UserInfo" asp-action="Login"><i class="fa fa-sign-in-alt"></i> Sign In</a>
                        <a class="btn btn-success" asp-controller="UserInfo" asp-action="Register"><i class="fa fa-user-plus"></i><span class="d-none d-sm-inline-block ml-2">Create account</span></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="line-height:normal;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <partial name="_LogoPartialView.cshtml" />
                    <partial name="_Address.cshtml" />
                </div>
                <div class="col-md-4">
                    <partial name="_ContactDetails.cshtml" />
                </div>
                <div class="col-md-4">
                    <div class="h2 mt-2 text-muted">Links</div>
                    <div>
                        <ul class="nav-link">
                            <li>
                                <a href="/tenders/index">Home</a>
                            </li>
                            <li>
                                <a href="/services/serviceview">Services</a>
                            </li>
                            <li>
                                <a href="/services/OtherServices">Other Services</a>
                            </li>
                            <li>
                                <a href="/Home/About">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-muted">
                &copy; 2019 - eTender - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                v1.0.0
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
