<a class="navbar-brand font-weight-bolder" style="font-size:28px;" asp-controller="Tenders" asp-action="Index">
    <img src="~/Assests/Logo/logoidea5_new.png" height="24" alt="">
    <label class="font-weight-bolder" style="color:#1e3da6">eTender</label>
</a>

