<div class="col-md-12 p-2">
    <div class="form-group">
        <a class="btn btn-success" asp-controller="UserInfo" asp-action="Register"><i class="fa fa-user-plus"></i><span class="d-none d-sm-inline-block ml-2">Create account</span></a>
        <button class="btn btn-dark" id="btnDeactivate"><i class="fa fa-user-slash"></i><span class="d-none d-sm-inline-block ml-2">De-Activate Selected User</span></button>
        <button class="btn btn-success" id="btnActivate"><i class="fa fa-user-check"></i><span class="d-none d-sm-inline-block ml-2">Activate Selected User</span></button>
        <button class="btn btn-dark" id="btnDelete"><i class="fa fa-user-times"></i><span class="d-none d-sm-inline-block ml-2">Delete Selected User</span></button>
        <a class="btn btn-dark" id="btnChangePass" href="#"><i class="fa fa-user-times"></i><span class="d-none d-sm-inline-block ml-2">Change Selected User Password</span></a>
        <a class="btn btn-success" id="btnChangeUserSer" href="#"><i class="fa fa-dice"></i><span class="d-none d-sm-inline-block ml-2">Add/Change Service for User</span></a>
    </div>
</div>