
@{
    ViewData["Title"] = "eTender Bihar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p class="text-danger h3">
            Sorry! You don't have right permission. Please login with valid user credential.
        </p>
        <a class="btn btn-primary mr-1 p-2" asp-area="" asp-controller="UserInfo" asp-action="Login"><i class="fa fa-sign-in-alt"></i> Click to Sign In</a>
        <a class="btn btn-primary mr-1 p-2" asp-area="" asp-controller="UserInfo" asp-action="Login"><i class="fa fa-home"></i><span class="d-none d-sm-inline ml-2">Home</span></a>
</div>
</div>

