@using ETB.WebApp.Utilities
@using ETB.Core.Entities
@model ETB.WebApp.Models.ForgotPassViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Subtitle.ForgotPass</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="ForgotPass" method="post">
                <h4>Enter your user id below to send the password reset link</h4>
                <hr />
                <div class="row">
                    <div class="form-control bg-danger text-white ml-2 mr-2" asp-validation-summary="ModelOnly"></div>
                </div>
                <div class="form-group focus">
                    <label asp-for="UserId"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                @if (ViewBag.Message != null)
                {
                    var message = (StatusResult)ViewBag.Message;
                    var textClass = message.Status == StatusText.Error.ToString() || message.Status == StatusText.UnHandledError.ToString() ? "text-danger" : "text-success";
                    <div class="form-group col-md-12 text-center small">
                        <span class="d-flex justify-content-center @textClass" id="spnResult">@message.StatusDetail</span>
                    </div>
                }
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send me reset link</button>
                    <a asp-action="Login" asp-controller="UserInfo" class="form-control d-inline btn-link">back to Login Page</a>
                    <a asp-action="Index" asp-controller="Tenders" class="form-control d-inline btn-link">back to Main Page</a>
                </div>
            </form>
        </section>
    </div>
</div>
<script type="text/javascript">
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    $(document).ready(function () {
        $('#UserId').on('change', function () {
            $('#spnResult').text("");
        });
    });
</script>