
@{
    ViewData["Title"] = "eTender Bihar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <p class="text-danger h3">
            Sorry! You are seeing this message because either you are not subscribed the service yet or 
            your service has expired!. 
        </p>
        <p class="text-success h4">
            Please call admin on contract number mentioned on the 'etenderBihar.in' portal or
            in your regristration confirmation email.
        </p>
        <a class="btn btn-primary mr-1 p-2" asp-area="" asp-controller="UserInfo" asp-action="Login"><i class="fa fa-sign-in-alt"></i> Click to Sign In</a>
        <a class="btn btn-primary mr-1 p-2" asp-area="" asp-controller="UserInfo" asp-action="Login"><i class="fa fa-home"></i><span class="d-none d-sm-inline ml-2">Home</span></a>
</div>
</div>

