@{
    ViewData["Title"] = "Home Page";
}
<h2>About</h2>
<hr />
<div class="col-md-6 text-left">
    <h4>Who we are?</h4>
    <p class="">
        We are a small group of technology loving and people friendly individuals,
        who love whatever they do, no matter how small or big the job is. The idea is to start
        small and through the product and services offering win the heart and mind of the people.
    </p>
</div>
<div  class="col-md-6">

</div>